@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@mixin texts($lineHeight, $fontSize, $fontWeight, $color, $alignment) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color ;
    text-align: $alignment;
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: #C9CED6;
    outline: none;
}

body {
    min-width: 20rem;
    min-height: 100vh;
    background-color: #0b101b;
    display: flex;
    justify-content: center;
}

.root-container {
    width: 100%;
    min-height: 100%;
    max-width: 108rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.12rem;
    padding: 1.5rem 0.5rem;

}

nav {
    max-width: 101.3125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.88rem;

    :nth-child(2) {
        width: 2.8125rem;
        height: 2.8125rem;
        cursor: pointer;
    }
}

.logo {
    @include texts(2.84rem, 2.3rem, 800, #C9CED6, center);
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60.375rem;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 60.375rem;
    align-items: center;
    justify-content: center;


    :nth-child(1) {
        @include texts(118.5%, 2.592rem, 800, #C9CED6, center);
        max-width: 55.687rem;
    }

    :nth-child(2) {
        @include texts(1.469rem, 1rem, 300, #C9CED6, center);
        max-width: 39.625rem;
    }
}

form {
    max-width: 41.1875rem;
    padding-inline: 0rem 0.5rem;
    border-radius: 3rem;
    border: 0.125rem solid #353C4A;
    background: #181E29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    gap: 0.5rem;


    :nth-child(2) {
        display: flex;
        width: 2.8125rem;
        height: 2.8125rem;
        justify-content: center;
        align-items: center;
        border-radius: 3rem;
        border: none;
        background: #144EE3;
        gap: 0.3rem;
        cursor: pointer;
        flex: 1 1 auto;

        :active {
            scale: (1.05);
        }

        :nth-child(1) {
            @include texts(1.75rem, 1rem, 600, #FFFFFF, center);
            display: none;
            width: max-content;
        }

        :nth-child(2) {
            width: 1.5625rem;
            height: 1.75rem;
        }
    }
}

@media only screen and (min-width:580px) {
    #button-image {
        display: none;
    }

    #button-text {
        display: block;
    }
}

input {
    height: 3.5rem;
    flex: 1 1 auto;
    background: none;
    border: none;
    @include texts(1.75rem, 1rem, 900, #C9CED6, start);
    padding-left: 1rem;
    border-radius: 3rem 0rem 0rem 3rem;
}

.link-display-container {
    margin-top: -5rem;
    display: flex;
    justify-content: center;
    height: 3.9375rem;
    padding: 1.3125rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.625rem;
    background: #181E29;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    max-width: 85.7rem;
    min-width: 19rem;
}

.link-display {
    @include texts(2.5rem, 1rem, 900, #C9CED6, center);
    flex: 1 1 12.5rem;
    overflow: hidden;
}

.link-display::selection {
    background-color: #353C4A;
    color: #C9CED6;

}

.copy-button {
    width: 2.5rem;
    background: none;
    border: none;
    height: 2.5rem;
    padding: 0.625rem;
    cursor: pointer;
}

.copy-button:active {
    scale: (1.2);
}

footer {
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    @include texts(2.1875rem, 0.875rem, 900, #181E29, center);


    :nth-child(2) {
        text-decoration: none;
    }

    :nth-child(2):hover {
        color: #353C4A;
        text-decoration: underline;
    }
}

.retry-button {

    background: none;
    border: 0.065rem solid #C9CED6;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0.625rem;
    cursor: pointer;
    width: 5rem;
}

.retry-button:hover {
    color: #353C4A;
}

.request-status,
.retry-button {
    @include texts(1rem, 0.875rem, 900, #C9CED6, center);
}

.skeleton {
    animation: skeleton-shimmer 1s infinite ease-in-out;
    margin-top: -5rem;
    height: 3.9375rem;
    padding: 1.3125rem;
    border-radius: 0.625rem;
    background-color: #181E29;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    width: 19rem;
}

@keyframes skeleton-shimmer {
    from {
        background-color: #181E29;
    }

    to {
        background-color: #181e29ab;
    }
}