@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    min-width: 20rem;
    min-height: 100vh;
}

.root-container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}