@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@mixin texts($lineHeight, $fontSize, $fontWeight, $color, $alignment) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color ;
    text-align: $alignment;
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: #C9CED6;
}

body {
    min-width: 20rem;
    min-height: 100vh;
    background-color: #0b101b;
}

.root-container {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8.12rem;
    padding: 1.5625rem;
}

nav {
    max-width: 101.3125rem;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 2.88rem;
}

.logo {
    @include texts(2.84rem, 2.3rem, 800, #C9CED6, center);
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    :nth-child(1) {
        @include texts(118.5%, 2.592rem, 800, #C9CED6, center)
    }

    :nth-child(2) {
        @include texts(1.469rem, 1rem, 300, #C9CED6, center)
    }
}